:host {
    #paragraph {
        color: #fff;
        position: absolute;
        top: 100px;
        text-align: center;
        width: 80%;
        margin: 0 10%;
        p {
            display: inline-block;
            letter-spacing: 0.4em;
        }

        &.clickable {
            cursor: pointer;
        }
    }
}