<div #paragraph id="paragraph"></div>
<audio id="otherworldSound" loop><source src="assets/sounds/otherworld.mp3" type="audio/mp3"></audio>
<audio id="musicSound"><source src="assets/sounds/the-day-of-night.mp3" type="audio/mp3"></audio>
<audio id="triggerSound1"><source src="assets/sounds/triggers/trigger-1.mp3" type="audio/mp3"></audio>
<audio id="triggerSound2"><source src="assets/sounds/triggers/trigger-2.mp3" type="audio/mp3"></audio>
<audio id="triggerSound3"><source src="assets/sounds/triggers/trigger-3.mp3" type="audio/mp3"></audio>
<audio id="triggerSound4"><source src="assets/sounds/triggers/trigger-4.mp3" type="audio/mp3"></audio>
<audio id="triggerSound5"><source src="assets/sounds/triggers/trigger-5.mp3" type="audio/mp3"></audio>
<audio id="triggerSound6"><source src="assets/sounds/triggers/trigger-6.mp3" type="audio/mp3"></audio>